# Ignore IDE and build system files
*.iml
.gradle/
local.properties
.DS_Store

.idea/
.kotlin/

# Ignore IntelliJ IDEA project files and folders
.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Ignore .kotlin directory (assumes it's at the root of the project)
.kotlin/
.kotlin/**

# Ignore Android/Java build artifacts
/build/
captures/
.externalNativeBuild/
.cxx/

# Ignore Kotlin error logs
.kotlin/errors/
.kotlin/errors/*.log
